// Aqui estilarem els banners i pastilles grafiques

%banner {
  width: 100%;
  height: rem-calc(150);
  margin-bottom: 0.5em;
  padding: 1em;
  //border-radius: rem-calc(5);
  font-family: $header-font-family;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  overflow: hidden;

/*
  &:hover {
    box-shadow: 0px 1px 3px lighten($grisfosc,20%);
  }
*/
}

.banner-img {
  @extend %banner;
  padding: 0;
  margin: 0;

  img {
    height: rem-calc(152);
    width: 100%;
  }
}

.banner-gris, .banner-blau, .banner-taronja {
  @extend %banner;
  background: $grisclar;
  margin-bottom: inherit;
  vertical-align: middle;
  text-align: center;

  i {
    position: relative;
    font-size: 4.5em;
    margin-top: -2.25em;
    top: 50%;
    text-align: center;
    color: transparentize($white, 0.3);
  }

  img {
    //position: relative;
    height: rem-calc(80);
    margin-left: auto;
    margin-top: rem-calc(20);
    //left: 50%;
    top: 50%;
  }
}

.banner-blau {background-color: $blau;}

.banner-taronja {background-color: $taronja;}
