.slider-home {
  //margin-top: -1em;
  //margin-bottom: 1em;
  //.slides{box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05) };

  @include breakpoint(small only) {
    // width: 110% !important;
    // margin: 0 -1rem !important;
    height: 22em !important;
    //margin-bottom: 1rem;

    //margin-top:2px;
    .slides li {
      min-height: 20rem;
      img {
        min-height: 12.5em !important;// numero màgic perque es vegin les flexes de passar el slider sobre la imatge i no es trepitji el caption
      }
    }
  }
}

// Classes del plugin Metaslider

.caption-wrap {
  // @media #{$small-only} {
  //   position: relative !important;
  //   margin-top: 0 !important;
  //   height: 10em;
  // }

  @include breakpoint(medium)  {
    left: 52.5% !important;
    //bottom: 0;
    // max-width: rem-calc(550);
    max-width: 42.5%;
    //height: rem-calc(200);
    height: 45%;
    //background-color: transparentize($white, 0.2) !important;
    background-color: transparent !important;
    padding: 0.5em;
    opacity: 1 !important;
  }
}

.metaslider .caption,
.metaslider .cs-title,
.metaslider .nivo-caption {

  //background-color: transparentize(#000, 0.2) !important;
  //background: rgba(0,0,0,0.8) !important;
  //opacity: 1;

  h2 {
    //color: $groc !important;
    color: $white !important;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-bottom: 0;
    margin-top: 1rem;
  }

  h4 {
    color: $groc !important;
    //margin-bottom: 1em;
    font-family: $body-font-family;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-weight: normal;
  }

  @include breakpoint(medium)  {


    h2 {
      font-size: 2.5em;
      margin-bottom: 1rem !important;
      line-height: 1;
    }

    h4 {
      margin-top: -0.5em !important;
      margin-bottom: 0.25em;
      font-size: 1.5em !important;

    }
    //.links-slider {margin-top: 1em !important; margin-bottom: 1em !important; float: none;}
  }
}

.links-slider {
  display: inline-block;
  color: $groc !important;
  margin-top: 0;
  margin-left: 0.25em;
  margin-bottom: 0.75em;
  border: 1px solid $groc;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  font-weight: bolder;

  &:hover {
    border: none;
    background-color: $groc;
    color: #000 !important;
  }

  @include breakpoint(medium)  {
    margin-top: 0.25em !important;
  }
}


// Això estila nomès el slide 1 (composició 4 productes)
// .slide1 {
//   @media #{$medium-up} {
//     h2 {
//       font-size: 2em !important;
//       padding-left: 0.375em;
//     }
//   }
// }
//
// .slide1-captions {
//   @media #{$small-only} {
//     display: none;
//   }
//
//   @media #{$medium-up} {
//     position: absolute;
//     top: 400px;
//     left: -602px;
//     width: 1148px;
//     height: 3em;
//     background: transparentize(#000, 0.3) ;
//     div {
//       display: inline-block;
//       width: 50%;
//       padding: 0.5em;
//       text-align: center;
//       h3 {margin-left: 0.375em; margin-top: 0;}
//     }
//   }
// }

// .slider-home .slides li:first-child {
//   .caption-wrap > div {background: none !important;}
// }
//
// .slider-home .slides li:not(:first-child) {
//   .caption-wrap > div {display: none !important;}
// }
