// Estils per al header
@include breakpoint(medium) {
	.header-main {
		background: $white;
		border-bottom: 2px solid scale-color($brand-secondary, $lightness: 50%);
		padding-bottom: 1em !important;
		padding-top: 0.5em;
		//box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
		.inline-list {
			a {color: #222; font-size: 0.9em;}
		}

		.logo-topbar {
  		//height: 7em;
  		width: rem-calc(295);
  	  margin: 2em 0.5em inherit 0.5em;
			margin-left: 2rem !important;
  	  //padding-bottom: 0.5em;
  	  // -webkit-filter: drop-shadow(2px 1px 2px #222);
  	  // filter:  drop-shadow(2px 2px 2px #222);
    }

    .etiqueta-lang {
        float: right;
        margin-top: 0.5em;
        margin-right: 1em;
        margin-bottom: 0.35em;
        //padding: 0 inherit;
        font-size: 0.8em ;
        line-height: 1em;
    }

    .idiomes {
      float: right;
      clear: right;
      //margin-top:1.5em;
      margin-right: 1em;
      li {margin-left: 0.75em}
      a {
        font-size: 0.75em;
        &:hover {color: $secondary-color}
      }
    }

    .boto-header {
      float: right;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-right: 2em;
    }
	}

	.social {
  	  margin-left: 5.25em;
  	  margin-top: 0.5em;
      li {margin-left: 0.5em !important;}
      a {
        color: #222;
        &:hover {color: $primary-color;}
      }
  }

}
