body {
  background: url('../images/bg-pattern.svg') repeat;
}

section {
  background: $white;

  //margin-bottom: 0 !important;

  @include breakpoint(medium) {
    max-width: $global-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }
}

@include breakpoint(medium) {
  .container {
    //margin-bottom: 0 !important;
    box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
  }
}

#page {
  margin-top: 0 !important;
  //margin-bottom: 0 !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Elements colors

// Borders de color
.bordercolor-inf {
  border-bottom: 5px solid;
  &.verd {border-color: $verd}
  &.taronja {border-color: $taronja}
  &.groc {border-color: $groc}
  &.blau {border-color: $blau}
}

// Tipografia & Contingut

.page .entry-title {
  color: $secondary-color;
  text-transform: uppercase;
  margin-top: 0.5em;
}

.titol-primary {
  color: $primary-color;
}

.titol-blau {
  color: $blau !important;
}

.titol-taronja {
  color: $taronja !important;
}

.titol-gris {
  color: $gris;
}

.txt-2cols {
  p {text-align: justify !important; margin: inherit 1em !important;}
}


fieldset {
  margin: 0;
  padding: 0.785em;
}

.img-pagina-producte {
  max-height: rem-calc(350);
  overflow: hidden;
  margin: -0.375em 0 1em 0;
  width: 100%;
}

// Llistes

// Llista catàlegs
.catalegs {
  .no-bullet {
    li .fa {color: $grisclar}

    @include breakpoint(small only) {
      li {margin: 0.75em inherit}
    }
  }
}

// Plugins

.foogallery-stack-album .topbar {
  box-shadow: none !important;
  margin-bottom: 0.35em !important;

  h2 {font-size: 2em !important;}
  .back {
    background-color: $primary-color;
    color: $white;
  }
}
